[gcode_macro SCREW_1]
gcode:
    G90
    G1 Z5
    G1 X25 Y25 F6000
    G1 Z0

[gcode_macro SCREW_2]
gcode:
    G90
    G1 Z5
    G1 X195 Y25 F6000
    G1 Z0

[gcode_macro SCREW_3]
gcode:
    G90
    G1 Z5
    G1 X195 Y195 F6000
    G1 Z0

[gcode_macro SCREW_4]
gcode:
    G90
    G1 Z5
    G1 X25 Y195 F6000
    G1 Z0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### end of definitions #####
    G91
    G1 E{E} F2100
    RESTORE_GCODE_STATE NAME=PAUSE_state
    BASE_RESUME

[gcode_macro BRUSH_NOZZLE]
gcode:
    G1 X275 F25000 ; Nozzle right to Brush
    G1 X225 F25000 ; Nozzle left to Brush
    G1 X275 F25000 ; Nozzle right to Brush
    G1 X225 F25000 ; Nozzle left to Brush
    G1 X275 F25000 ; Nozzle right to Brush
    G1 X225 F25000 ; Nozzle left to Brush
    G1 X275 F25000 ; Nozzle right to Brush
    G1 X225 F25000 ; Nozzle left to Brush
    G1 X275 F25000 ; Nozzle right to Brush
    G1 X225 F25000 ; Nozzle left to Brush

[gcode_macro PURGE]
default_parameter_AMOUNT: 25
gcode:
    # purge some filament next to the brush
    G1 X{printer.toolhead.axis_maximum.x|float} F8000
    G92 E0 ; reset extruder
    G1 E{AMOUNT} F60 ; extrude 2.5mm of filament
    G92 E0 ; reset extruder

[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 190
gcode:
    # Auto Leveling
    BED_MESH_PROFILE LOAD=default
    G29

    # Move Nozzle Away from Bed (next to brush)
    G1 Y10 X270 F3000


    # set bed temperature    
    M140 S{BED_TEMP}
    
    # wait till 0.85 of bed temp is reached, then continue 
    {% if printer.heater_bed.temperature < BED_TEMP|float*0.85 %}
        M190 S{BED_TEMP|float*0.85} 
    {% endif %}
    
    # Wait for temperatures to be reached
    M140 S{BED_TEMP} 
    M104 S{EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}
    M190 S{BED_TEMP}

    # purge some filament next to the brush
    PURGE

    # clean the nozzle with the brush
    BRUSH_NOZZLE

[gcode_macro END_PRINT]
gcode:
    M140 S0
    M104 S0
    G92 E1
    G1 E-1 F300
    M106 S0
    G28 X280
    G90
    M84
    SAVE_IF_SET

[gcode_macro G29]
gcode:
    G28
    G1 Z10 F600
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default

[gcode_macro M600]
default_parameter_X: 0
default_parameter_Y: 0
default_parameter_Z: 5
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
